.media {
  margin-top: 15px;
  &:first-child {
    margin-top: 0;
  }
}

.media,
.media-body {
  zoom: 1;
  overflow: hidden;
  /* border-bottom: #eee solid 1px; */
}

.media-body {
  width: 10000px;
}

.media-list {
  padding-left: 0;
  list-style: none;
  /* border-bottom: #eee solid 1px; */
}

.media-action {
    margin-top: 10px;
    font-size: 12px;
    color: #999;
}

.media-left,
.media > .pull-left {
  padding-right: 10px;
}

.media-right,
.media > .pull-right {
  padding-left: 10px;
}

.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}

.media-list .media-right .btn-default h4 {
    font-size: 12px;
    margin: 0;
    line-height: 20px;
    background: #ddd;
}

.media-list .media-right .btn-default {
    width: 45px;
    height: 48px;
    padding: 0;
    line-height: 26px;
    font-weight: 500;
    color: #999;
    display: block;
    text-align: center;
}

.media-middle {
  vertical-align: middle;
}

.media-bottom {
  vertical-align: bottom;
}

.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
  color: #999;
  font-size: 12px;
}

.media-object {
  display: block;
  &.img-thumbnail {
    max-width: none;
  }
}

.list-group-item {
    border: none;
    margin-bottom: 0;
    border-bottom: 1px solid #ddd;
}